<wm-page layouttype="blank" columns="1" data-ng-controller="MainPageController" name="page1">
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" paddingleft="15" paddingright="15" name="mainContent">
                <wm-prefab name="prefab1" prefabname="fbpost" height="528" width="836" appid="235401466622053"></wm-prefab>
                <wm-composite widget="text" name="composite1">
                    <wm-label class="col-md-2" name="label1"></wm-label>
                    <wm-text name="text1"></wm-text>
                </wm-composite>
            </wm-column>
        </wm-row>
    </wm-content>
</wm-page>